:root {
  --dashboard-bg: #0284c7;
  --content-bg: rgb(250, 246, 246);
  --main-text: white;
}

html, body{
  height: 100%;
  width: 100%;
  /* margin: 0;
  padding: 0; */
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--content-bg);
}

/*Header*/

header {
  grid-row: 1;
  grid-column: 2 / 6;
  display: flex;
  flex-direction: column;
}

.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0f2fe;
  background-color: var(--dashboard-bg);
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}

#search-bar-sect {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
}

#search-bar {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f0f9ff;
  width: 40vw;
  height: 0.75rem;
  font-size: 1.5rem;
  color: #0369a1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.75rem;
}

.search-icon {
  height: 2.25rem;
}

.user-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 33%;
  gap: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.avatar {
  height: 3rem;
  background: var(--main-text);
  border-radius: 50%;
}

.user-name {
  color: var(--main-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
}

#user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  /* border-top: 2px solid gold; */
}

#welcome-user {
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 0.5rem;
}

#avatar-big {
  height: 5rem;
}

.welcome-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user-actions {
  display: flex;
  margin-right: 2rem;
  gap: 1.5rem;
}

button {
  background: var(--dashboard-bg);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: var(--main-text);
  font-weight: bolder;
  cursor: pointer;
}

/*Nav*/

nav {
  grid-row: 1 / 6;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background: var(--dashboard-bg);
  align-items: center;
  height: 155%;
}

h1 {
  color: white;
}

.nav-link {
  margin-top: 2rem;
  color: white;
  font-weight: 800;
}

.nav-icon {
  margin-right: 2rem;
  position: relative;
  top: 0.35rem;
}

.dash-link {
  text-decoration: none;
  /* color: #f0f9ff; */
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dash-link:hover {
  color: rgb(84, 84, 136);
}

/*Projects*/

#projects {
  grid-row: 2 / 6;
  grid-column: 2 / 5;
  background-color: var(--content-bg);
}

#project-header{
  text-align: center;
}

#card-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  gap: 1.5rem;
  margin: 0 1.5rem 0 1.5rem;
  scroll-behavior: smooth;
}

.content-header {
  margin-top: 2rem;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.card {
  border: 1px solid black;
  background-color: var(--main-text);
}

.card-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
}

.sub-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
}

.card-header,
.sub-text {
  margin: 1.5rem;
}

/*Announcements*/

#announcements {
  grid-row: 2 / 4;
  grid-column: 5 / 6;
  background-color: var(--content-bg);
  text-align: center;
  scroll-behavior: smooth;
  height: 10rem;
}

.right-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.right-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right-content {
  background: white;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-behavior: smooth; */
  margin-right: 1rem;
}

#fix-right{
  /* scroll-behavior: auto; */
  overflow: auto;
  /* scroll-behavior: auto; */
  height: 100%;
}

/*Trending*/

#trending {
  grid-row: 4 / 6;
  grid-column: 5 / 6;
  background-color: var(--content-bg);
}

#trending-header {
  margin-top: auto;
  text-align: center;
  margin-top: 8rem;
}

.screen-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
